/.diff.swp
/.project
/.settings
build/dist
build/myconf.php
build/report
build/reports
dbscript/.dbscript-1.sql.swp
dbscript/.dbscript-2.sql.swp
devTools/load/leave
installer/log.txt
lib/confs/Conf.php
lib/confs/cryptokeys/key.ohrm
lib/confs/mailConf.php
lib/logs/logDB.txt
lib/logs/notification_mails.log
/nbproject
symfony/.diff.swp
symfony/.log.txt.swp
symfony/apps/orangehrm/config/emailConfiguration.yml
symfony/apps/orangehrm/config/parameters.yml
symfony/cache/*
symfony/config/databases.yml
symfony/lib/model/doctrine/orangehrmRegionalAdminExecutivePlugin
symfony/lib/vendor/symfony/lib/action/.sfComponent.class.php.swp
symfony/log/*
symfony/plugins/.channels
symfony/plugins/.registry
symfony/plugins/orangehrmCorePlugin/lib/service/.SampleService.php.swp
symfony/plugins/orangehrmPimPlugin/lib/dao/.EmployeeDao.php.swp
symfony/plugins/orangehrmPimPlugin/modules/pim/templates/._leftmenu.php.swp
symfony/web/orangehrm*Plugin
symfony/web/sf
upgrader/cache/*
upgrader/log/*
